html{
    background-color: #EAE7DC;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: #EAE7DC;
    color: #8E8D8A;
}

.project-box{
    width: 75%;
    margin: auto;
}

.single-project-container{
    position: relative;
    display: flex;
    padding-top: 15px;
    /*padding-bottom: 10px;*/
}

.site-header{
    display: flex;
    justify-content: space-between;
}

.my-name{
    padding: 16px 16px 16px 5%;
    font-size: 25pt;
}

.link-list{
    padding-right: 5%;
}

h2{
    margin: 0;
    padding: .18em;
    color: #E85A4F;
}

.subheader{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul{
    list-style: none;
    display: inline;
}

li{
    float: left;
    padding: 16px;
}

a{
    color: #E98074;
}

a:link {
    text-decoration: none;
}

a:visited { text-decoration: none; }


a:hover {
    text-decoration: none;
    color: #E85A4F;
}

.project-name{
    color: #545252;
}

.project-link{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

a:active { text-decoration: none; }

.header-line{
    background: rgb(232, 90, 79);
    color: rgb(232, 90, 79);
    height: 3px;
    width: 95%;
    margin: 0 auto 0 auto;
}

.subline{
    background: rgb(232, 90, 79);
    color: rgb(232, 90, 79);
    height: 3px;
    width: 75%;
    margin: 0 auto 0 auto;
}

footer{
    padding-top: 30px;
}

footer > div{
    width: 50%;
    margin: auto;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

.socials > p {
    padding: 12px;
}

.socials > a {
    margin: auto;
}

.resume-pdf-viewer{
    margin-left: 12.5%;
}